 :root{
  --primary-text-color:#FFFFFF;
  --title-text-color:#2196F3;
  --background-color: #212121;    
}


.body font-family : 'Roboto';{
  background-color:var(--background-color);}

    

  ul {

  list-style: none;}


  .logo:hover, :focus{
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1,19; }
  

  .button-current,
  .button-current{
    color:var(--primary-text-color);
    font-family : 'Roboto';
    font-weight : 700;
    font-size: 16px;
    line-height : 1,87; }
  

  /*Contacts*/

  
  .header-mail{
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;} 
  
 
  .header-contact{
    color: var(--background-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14; }
  
 
  
      /* Site nav*/
  
 
 .site-nav :hover, :focus {
 color: var(--title-text-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
    line-height: 1,14;
  }

    
   /*Hero*/
   .hero {
     background-color:  var(--background-color);
   }
   .hero-title {
     color:var(--primary-text-color);
     font-size: 44px;
     line-height: 1,36;  
     text-align: center;}

     .button-current:hover
     .button-cursor {
      color: var(--title-text-color);
    }
    button{
      background-color: var(--title-text-color);
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1,87;

    }  
    
    /*Work*/
    
   .section-title {
     color: var(--background-color);
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 1,16;
    }
     .title{
     color: var(--background-color);
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 1,14;
     }
    .paragraph{
      color: var(--background-color);
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1,71;

    }
    
       /*Work */
       .work{
         color: var(--background-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1,16;
        }

        .team {
          color: var(--background-color);
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 1,16;
      

        }
     
      .team-title{
        color: var(--background-color);
        font-family: 'Roboto';
       font-style: normal;
       font-weight: 500;
        font-size: 16px;
       line-height: 1,18;
      

      }
       /*footer*/
      .page-footer{
        background-color: var(--background-color);
      } 
      
     .logo-link{
       color: var(--title-text-color);
       font-family: 'Raleway';
       font-style: normal;
       font-weight: 700;
       font-size: 26px;
       line-height: 1,19;
     }
     .addres-link{
       color: var(--primary-text-color);
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
       line-height: 1,71;
     }
      
      .mail-link{
        color: var(--primary-text-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
      }
     .contact-link{
       color: var(--primary-text-color);
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
       line-height: 1,71;
     }
 
    /* белый цвет текста #FFFFFF */
      /* вторичный цвет текста rgba(117, 117, 117, 1) */
          /* цвет кнопок rgba(33, 33, 33, 1) */
           /* акцент #2196F3;*/
         /* цвет оглавления #212121;*/
         /* контакты #757575 */ 
         /* цвет контактов rgba(255, 255, 255, 0.6)*/
